{* <button title="{$alt}" class="ty-btn-go" type="submit">{if $but_text}{$but_text}{else}<i class="ty-btn-go__icon ty-icon-right-dir"></i>{/if}</button>
<input type="hidden" name="dispatch" value="{$but_name}" /> *}

<button title="{$alt}" class="effect-btn btn btn-secondary ty-btn-go" type="submit">  <span>subscribe</span></button>
<input type="hidden" name="dispatch" value="{$but_name}" />