
.addToWishlist{
  opacity: 0;
  visibility: visible;
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff;
  bottom: -40px;
  position: relative;
  transition: all 0.3s ease;
  margin-right: 10px;
}
.addToWishlist:hover{
  background: #878787;
  border: 1px solid #878787;
}
.addToWishlist:hover i{
     color: #fff;
}
.add-to-cart {
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  margin-right: 10px;
}
.add-to-cart:hover {
  background: #878787;
  border: 1px solid #878787;
}
.add-to-cart:hover i {
  color: #fff;
}
.quick-view {
  opacity: 0;
  visibility: visible;
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff;
  bottom: -40px;
  position: relative;
  transition: all 0.3s ease;
  margin-right: 10px;
}
.quick-view:hover {
  background: #878787;
  border: 1px solid #878787;
}
 .quick-view:hover i {
  color: #fff;
}
.ty-btn i {
    bottom: 10px;
    right: 6px;
        top: auto;
    margin-right: auto;
    }
    .ty-stars{
        margin-right: auto;
    }
    .owl-carousel .owl-wrapper-outer {
          height: auto;
    }
    .fa-eye{
    color:black;
    }