.ty-search-block__input{
	    border-radius: .208333333in!important;
	        background: #e5e5e5!important;
	        height: 2.5pc!important;
}
.fa{
	 color: #676767;
	     font-size: small;
}
.ty-search-magnifier{
	      top: 3px;
}
.ty-search-block__input:focus{
	border:none;
	border-color:transparent;
}
input[type="text"]:hover {
     border:none; 
     border-color: transparent;
}
input[type="text"]:focus {
     border-color: transparent;
}
.ty-minicart-title{
	display:none;
}
.ty-icon-down-micro{
	display:none;
}
.top-cart-content .ty-dropdown-box__title{ background-color:transparent; }
.fa-shopping-cart{

    color: #222;
}
.ty-dropdown-box__title{
	padding: 40px 0;
}
.cart_item_num{
    border-radius: 50%;
    position: relative;
    left: 26px;
    top: -24px;
    font-weight: 900;
     padding: 2px 7px;
    width: 19px;
    height: 19px;
    line-height: 19px;
    background: #ff5151;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
}
.ty-cart-items__list-item-tools{
	display:block;
}
.cm-cart-buttons a{
	    padding: 9px 25px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 18px;
    border-radius: 18px;
    background: #343434;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
}
.cm-cart-buttons a:hover{
    padding: 9px 25px;
   background-color: #f2464e;
   
}
.ty-cart-items{
	border-bottom: 1px dashed #a7a7a7;
}
.buttons-container{
	background:none;
}
.fa-trash-o{
	font-size: 20px;
}
.ty-dropdown-box__title.open a, .ty-dropdown-box__title.open i, .ty-dropdown-box__title.open .ty-minicart-title {
	    color: #222;
}
.ty-dropdown-box__content{
	border-top:none;
}
.top-cart-content .ty-dropdown-box__title.open:after{
	border-color: transparent transparent;
}
.onj-cart-content{
    position: absolute;
}
.ty-dropdown-box__content .acount, #currency, #language{
        top: 0.4rem;
}
.ty-dropdown-box__title:hover {
    background: transparent;
}
.onj_cat_img{
        width: 32px;
}
.onj_cat_anch_link a:hover{
    display:none;
}
.container-fluid .row-fluid .ty-dropdown-box .ty-dropdown-box__title{
    width:100px;
}

  .no-touch .ty-menu__item:hover .ty-menu__item-link, .is-hover-menu .ty-menu__item-link, .is-hover-menu.ty-menu__item-active .ty-menu__item-link{
        background: #eee;
  }
  .ty-profile-field__buttons .ty-btn{
        padding: 9px 25px;
    border-radius: 18px;

  }
  .ty-btn__login{
    padding: 9px 25px;
    border-radius: 18px;
  }
.ty-btn__login:hover,  .ty-btn__login:active{
     padding: 9px 25px;
    border-radius: 18px;
}
.breadcrumb-bg{
        margin-right: -85px;
            margin-left: -92px;
}
.ty-cart-content__left-buttons a, .ty-cart-content__right-buttons a , .ty-cart-content__right-buttons button{
        padding: 9px 25px;
    border-radius: 18px;
    background: #343434;
        color: #fff!important;
}
.ty-cart-content__left-buttons a:hover , .ty-cart-content__right-buttons a:hover , .ty-cart-content__right-buttons button:hover{
        padding: 9px 25px;
    border-radius: 18px;
        background: #f46369;
    
}
.ty-cart-content__top-buttons{
    display:none;
}
.ty-cart-total{
    display:none;
}
.ty-checkout-buttons a , .ty-checkout-buttons button{
     padding: 9px 25px;
    border-radius: 18px;
    background: #343434;
        color: #fff!important;
}
.ty-checkout-buttons a:hover , .ty-checkout-buttons button:hover{
     padding: 9px 25px;
    border-radius: 18px;
        color: #fff!important;
        background: #f46369;
}
.no-touch .ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover > .ty-menu__submenu-item-header .ty-menu__item-link, .ty-menu-vertical .ty-menu__submenu .is-hover-menu > .ty-menu__submenu-item-header .ty-menu__item-link{
     background: #eee;
       font-family: Poppins,sans-serif;
    font-size: 12px;
    color: #848484;
    font-weight: 500;
}
.buttons-container button{
     background: #343434;
}
.ty-footer-grid__full-width .row-fluid {
        max-width: 1254px;
}