@media (max-width: 767px) {
	.header-grid{
		    /*background: #222; */
	}
	.d-flex .ty-dropdown-box__title{
	top: -20%;
    left: -20%;
	}
	.row-fluid .ty-logo-container
	{
		margin-top: -22%;
	    margin-left: 10%;
	}

	.ty-search-block
	{
		margin-top: -20%;
    	left: -84%;
	}

	.custom_account_home
	{
		margin-top: -18%;

	}
	.ty-account-info__title .fa-user
	{
		margin-left: -30%;
	}
	 .top-cart-content
	{
		margin-top: -25%!important;
	    
	    position: absolute!important;
	    margin-left: 80%;
	}
	.flex-9 .title-tab-content ul li span {
		       padding: 8px 4px!important;
	}
	.container-fluid{ 
       max-width: 1200px;
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .tab-content .item .product-miniature .product-description{
  	    padding: 21px 4px 0px;
  }
  .title-product h2, .title-product p{
  	text-align:center;
  }
  .ty-dropdown-box__content{
  	right: 58px;
  }
  .breadcrumb-bg{
  	    margin-right: -16px;
  	        margin-left: -17px;
  }

}