.ty-pagination__bottom {
    float:right;
    }
    .ty-pagination__selected{
    	    border-color: #222;
    background: #343434;
    width: 37px;
    height: 37px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 4px;
    vertical-align: middle;
    font-size: 14px;
    
    text-align: center;
    line-height: 29px;
    }
    .cm-history{
        width: 37px;
    height: 37px;
    background: #c4c4c4;
    color: #ffffff;
    line-height: 29px;
    }
    .ty-pagination__item {
    background: #c4c4c4;
    }
   .ty-pagination__item:hover{
   	   background: #343434;
   	   color:#ffffff;
   }
   .ty-pagination__text{
       width: auto;
    height: 37px;
    
    color: #ffffff;
    line-height: 29px;
   }
   .ty-pagination__text-arrow {
   display:none;
   }