.ty-qty {
    display:none;
}
.ty-product-list__item-name{
	width:75%;
	float:left;
}
.stock-wrap {
	width:25%;
	float:right;
}
.stock-wrap label{
 display:none;
}
.ty-qty-in-stock:before{
	    content: "\f046";
	    font: normal normal normal 14px/1 FontAwesome;
       

}
.ty-qty-in-stock {
	 text-transform: uppercase;
    	color: #6bb853;
}
.ty-price-num{
	 color: #222;
}
.ty-product-list__feature{
	display:none;
}.ty-product-list__rating {
    position: unset;
    text-align: left;

}
.add_product_cart_list {
	    width: auto!important;
    height: auto!important;
    text-align: center;
    line-height: 38px;
    border-radius: 20px!important;
    padding: 2px 20px;
    background: #878787;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 5px;
    transition: 0.1s;
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}
.add_product_cart_list i {
    bottom: auto!important;
        font-size: 16px;
    }
    .ty-product-list:hover {
    	    box-shadow: none;
    }
    .ty-product-list {
        border: none;  }
.ty-product-list__image {
    border: 1px solid #dee2e6!important;
    border-radius: 8px;
}
.addToWishlistproduct{
    visibility: visible;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ddd;
    position: relative;
    transition: all 0.3s ease;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    background: #878787!important;
}
.addToWishlistproduct i{
	bottom: 10px;
    right: 0px;
    top: auto;
    
}
.addToquicktproduct{
	 visibility: visible;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ddd;
    position: relative;
    transition: all 0.3s ease;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    background: #878787;
    bottom:0px;
}
.addToquicktproduct i{
	bottom: 11px;
    right: 2px;
    top: auto;
    color:#ffffff;
    font-size: 17px;
    
}
.addToquicktproduct:hover{
	    background: #343434;
}
.addToWishlistproduct:hover{
	 background: #343434!important;
}
.thumbnail-container {
	border: 1px solid #ddd;
}
.subcategories{
	display:none;
}