.ty-sort-container {
        background: none;
    }
    .ty-sort-dropdown{
        background: #e4e7ea;
        float: right;
    }
.ty-sort-container__views-icons{
    float: left!important;
}
.ty-sort-container__views-a {
        display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: white;
    border-radius: 4px;
    margin-right: 6px;
    background: #c4c4c4;
    padding: 3px 11px;
}
.ty-sort-container__views-a.active {
        background: #343434;

}
.ty-sort-container__views-a:hover {
    color: white;
}

.total-products{
        background: white;
    display: table;
    padding-right: 12px;
    padding-left: 10px;
    line-height: 3;
    font-size: 12px;
    text-transform: uppercase;
}
.total-products p{
        padding: 0px 0;
}
.ty-sort-dropdown__content-item-a {
    color:black;
}
.ty-sort-dropdown__content-item-a:hover {
        background: #f15c3a;
}
.ty-sort-dropdown__wrapper.open {
    background: none;
    }
    .ty-mainbox-title{
        font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 26px;
    color: #222;
    }
    