.ty-product-block-title{
	border-bottom: none;
}
.addToWishlistproduct i{ color: #ffffff;right: initial!important;}
.ty-qty {
    display: block!important;
}
.ty-qty .ty-control-group__label {
	width: auto;
}
.ty-product-block__advanced-option {
	display:none;
}
.ty-product-block__note-wrapper{
	display:none;
}
.ty-tabs__item.active{
	color: #222;
	border-right:none;
	border-left:none;
	box-shadow:none;

}
.cm-j-tabs:before,.cm-j-tabs:after{
	box-sizing: initial;
}
.ty-tabs__a, .ty-tabs .subtab a{
	    display: initial;
}
.ty-tabs__item, .ty-tabs .subta{
	background:none;
	    font-size: 18px;
    font-weight: 600;
        color: #909090;
}
.ty-tabs {
	border-bottom:none;
}
.ty-tabs__a:hover{
	    border-bottom: 1px solid;
}
.ty-tabs__item.active a{
	border-bottom: 1px solid; 
}
.ty-tabs__content{
	box-shadow:none;
	border:none;
}
.ty-tabs__a {
	padding:0px 20px;
	    font-family: "Poppins",sans-serif;
}
.cm-decrease {
	    right: -39px;
    margin-left: 34px;
    bottom: 23px;
    height: 22px;
    width: 22px
}
.cm-increase {
	    right: -39px;
    margin-left: 34px;
    top: 23px;
    height: 22px;
    width: 22px
}
.ty-value-changer__increase,.ty-value-changer__decrease{
	    line-height: inherit;
}
input.ty-value-changer__input{
	width: 70px;
    height: 44px;
    background: none;
        border-radius: .25rem;
    }
.ty-social-buttons{
	clear:both;
}
.ty-product-detail .ty-product-block__left{
	    padding-right: initial
}
.ty-product-block__field-group{
	    
    width: 27%;
}
.ty-value-changer{
	    margin-top: -25px;
}
input[type="text"]:hover{
	    border: 1px solid #909090;
}
.ty-product-block__button .ty-btn{
	    margin-right: auto;
}

.no-touch .ty-value-changer__increase:hover, .no-touch .ty-value-changer__decrease:hover{
	    background: #343434;
    color: white!important;
    border: #343434;
}
.ty-product-switcher{
	display:none;
}
.ty-product-block__sku{
	display:none;
}
.ty-product-block-title{
	    color: #222;
    font-size: 26px;
    font-weight: bold;
}
.ty-price-num{
	font-family: "Poppins",sans-serif!important;
    font-size: 1.7rem!important;
    color: #ff5151!important;
    font-weight: 700!important;
    line-height: 1;
}
.stock-wrap label {
    display: block!important;

}
.stock-wrap{
	width: 71%!important;
    float: right;
}
.ty-control-group__label{
	width:auto;
	text-transform: uppercase;
    font-size: 13px;
        color: #666;
    font-weight: 600;
}
.ty-product-prices {
    margin: auto;
}
.ty-product-block__button {
    margin-top: 25px;
}
.add_product_cart_list .fa-shopping-cart{
    color:#fff;
}
@media (max-width: 767px) {
 	.ty-product-block__field-group{
   		width: 40%;
	}
	.ty-social-buttons__inline {
    	display: -webkit-inline-box;
	}
	
	.ty-stars, .ty-discussion__review-a, .ty-discussion__review-write{
		margin-right: auto;
	}
	}
