.ty-helper-container .tygh-header .header-grid {
	height: 100%;
    width: 100%;
    padding: 0px 0px 0px;
}

.ty-dropdown-box .cm-popup-box .ty-menu-vertical__dropdown {
	top: 0;
    z-index: 9999;
    left: 0;
    /* transition: all 0.1s; */
    /* transform: translateX(-150%); */
    display: block;
    position: fixed;
    background: white;
    height: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.35s ease;
}

.ty-dropdown-box .cm-popup-box .ty-menu-vertical__dropdown .ty-menu__items li a {
	font-family: "Poppins",sans-serif;
    font-size: 12px;
    color: #848484;
    font-weight: 500;
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 12px 30px 15px;
}
    
.ty-helper-container .tygh-header {
	position: inherit;
    background: white;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
}

.tygh-header .container-fluid .row-fluid {
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container-fluid .row-fluid  .ty-dropdown-box .ty-dropdown-box__title {
	width: 77px;
    font-size: 19px;
    color: #222;
    height: auto;
    border-right: 1px solid #eee;
}

.header-grid .top-logo .ty-logo-container {
	width: calc(30%);
    align-items: center!important;
    justify-content: center!important;
    display: flex!important;
    margin-left: 180px;
    margin-right: 0px;
}

.ty-helper-container .tygh-header {
    position: inherit;
    background: white;
    width: 100%;
    margin: 0;
    z-index: 100;
    background: rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    -ms-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    /* position: fixed; */
}


.ty-helper-container .tygh-header .header-grid .row-fluid  .main-menu {
	width: 39%;
    float: left;
    margin-left: -150px;
}

.row-fluid  {
	align-items: center!important;
    justify-content: flex-end!important;
    margin: 0;
}

.tygh-header .row-fluid  div.ty-dropdown-box {
	padding: 0 30px;
    border-left: 1px solid #eee;
    height: 110px;
    cursor: pointer;
}

.custom-search-widget div.row-fluid {
	margin-left: 90px !important;
}

.top-my-account .ty-dropdown-box__title a {
	margin-left: -30px !important;
}

.ty-dropdown-box__title {
	border: 0px !important;
}

.custom-search-widget {
	padding-left: 33px;
    margin-right: -50px;
}

.tygh-header .container-fluid .row-fluid  div.icon-menu {
	margin-left: -80px;
} 

div.top-search div a {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f002";
}

/*# sourceMappingURL=reponsive.css.map */

.menu-banner {
  display: none;
}

.homepage-on-sale {
    align-content: center;
    padding-left: 15px;
    padding-right: 15px
}

.content {
  font-size: 5px;
}

.content2 a {
  font-size: 12px;
}

.price-del .row {
  align-items: baseline;
}

.ty-price-num {
    font-family: "Poppins",sans-serif;
    font-size: 1.7rem;
    color: #ff5151;
    font-weight: 700;
    line-height: 1;
}

.ty-add-to-compare {
  display: none;
}

.product-quantity div {
  display: inline-block;
  padding: 1px 1px 0px;
}

.product-quantity .quantity .custom-add-to-cart {
      margin-left: 40px;
}

.product-single .product-info .detail-description .option {
  margin: 0px 0px 0px;
}

.product-single .product-info .detail-description .option div div div {
  
}

.product-info .detail-description .description {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.cart-area .product-quantity {
    padding-left: 15px;
}

.fa-commenting-o span {
    font-size: 10px;
}

.quantity .ty-qty label {
    width: 30px;
} 

.custom-add-to-cart a.ty-btn__add-to-cart {
    line-height: 38px;
    border-radius: 20px;
    padding: 2px 20px;
    background: #878787;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 5px;
    transition: 0.1s;
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: inherit;
}

.custom-add-to-cart a.ty-add-to-wish {
    line-height: 38px;
    border-radius: 20px;
    padding: 2px 20px;
    background: #878787;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 5px;
    transition: 0.1s;
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: inherit;
}

body {
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    background: #fff;
    color: #666;
}

/*div.product-info  div.detail-description p.description {
	padding: 7px;
    border-bottom: 1px dashed #9E9D9D;
	color: #b5b4b4;
    margin-left: 10px;
    border-radius: 5px;
}*/

/*div.product-info  div.detail-description p.description {
	padding: 7px;
    border-bottom: 1px dashed #9E9D9D;;
    color: #b5b4b4;
    border-radius: 5px;
}*/

div.product-info  div.detail-description div.cart-area {
	padding: 7px;
    border-bottom: 1px dashed #9E9D9D;;
    color: #b5b4b4;
    border-radius: 5px;
}

div.product-info  div.detail-description div.d-flex2 {
	padding: 7px;
    border-bottom: 1px dashed #9E9D9D;;
    color: #b5b4b4;
    border-radius: 5px;
}

.breadcrumb-bg {
	background: #eceeef;
    margin-left: -60px;
    overflow: auto;
    padding-right: 80px;
    margin-right: -60px;
}

.tygh-footer .ty-footer-grid .ty-footer-grid__full-width {
	background-color: white !important;
}

.ty-helper-container .tygh-footer .ty-footer-grid {
	background-color: white !important;	
}

.footer-one .policy-home {
	margin-left: -45px;
    margin-right: -45px;
}

.ty-footer-grid .ty-footer-grid__full-width .newsletter  {
	margin-left: -10px;
    margin-right: -10px;
}

.cart-area .product-quantity .custom_add_button {
	margin-left: 65px;
}

.cart-area .product-quantity .custom_add_button .ty-btn__add-to-cart {
	line-height: 38px;
    border-radius: 20px;
    padding: 2px 20px;
    background: #878787;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 5px;
    transition: 0.1s;
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: inherit;
}

.cart-area .product-quantity .custom_add_button .ty-add-to-wish {
	line-height: 38px;
    border-radius: 20px;
    padding: 2px 20px;
    background: #878787 !important;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 5px;
    transition: 0.1s;
    color: white;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: inherit;
}

div.product-info  div.detail-description div.option {
	padding: 7px;
    border-bottom: 1px dashed #9E9D9D;;
    color: #b5b4b4;
    border-radius: 5px;
}

div.product-info  div.detail-description div.ty-discussion__rating-wrapper {
	padding: 7px;
    border-bottom: 1px dashed #9E9D9D;;
    color: #b5b4b4;
    border-radius: 5px;	
}
.custom_h2 {
	color: #222;
    font-size: 26px;
    font-weight: bold;
}
.fa-check-square-o {
	margin: 0 10px;
}
.check {
	color: #45ab67;
}
.availb {
	text-transform: uppercase;
    font-size: 13px;
}
.custom_avail_position {
	margin: 0px 0px 0px;
    padding: 5px;
}
a.fa {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
i.color {
	margin-right: 9px;
    color: #a7d6dd;
    font-size: 20px;
    vertical-align: bottom;
}
.ty-stars {
    color: #a7d6dd !important;
}
.content .ty-discussion__rating-wrapper {
	padding: 10px 10px 10px 10px;
}
body {
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    background: #fff;
    color: #666;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    /*height: -webkit-fill-available;*/
}
.content p {
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 0px 0px 0px;
    margin-bottom: 0.5rem;
}
.ty-product-options {
    margin-bottom: 15px;
    display: inline-flex;
}
.ty-product-options div {
    margin-left: 10px;
    margin-right: 10px;
}
.content .content2 {
    color: #403e3e;
}


/*swati sinha for right header on homepage*/
#search_widget {
    width: calc(40% + 74px);
}

#search_widget .search-header-top{
    padding: 0 30px;
    border-left: 1px solid #eee;
    height: 110px;
    cursor: pointer;
}

#search_widget i {
    width: 21px;
    text-align: center;
}

#search_widget #block_myaccount_infos {
    line-height: 8;
    padding: 0 30px;
    border-left: 1px solid #eee;
    height: 110px;
    cursor: pointer;
}

.acount .account-list-content{
     line-height: 2;
 }

.header-top .myaccount-title {
    position: relative;
    cursor: pointer;
}

#search_widget #block_myaccount_infos .myaccount-title .fa-user {
    margin-top: -8px;
}

#search_widget #block_myaccount_infos .myaccount-title .fa-user {
    font-size: 14px;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #676767;
    color: #fff;
    line-height: 21px;
    text-align: center;
}

#search_widget #block_myaccount_infos .acount {
    top: 6.9rem;
    left: inherit;
    right: 78px;
}

.ty-dropdown-box__content .acount, #currency, #language {
    position: relative;
    top: 2.4rem;
    right: 0px;
    z-index: 1000;
    float: left;
    width: 14rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.35);
}

.myaccount-title .acount .account-list-content ul li a{
    color: #676767;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 2 !important;
}

.acount .account-list-content ul li a i{
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    width: 12px;
}

.acount .account-list-content .ty-account-info{
    /*border-bottom: 1px solid #eee;*/
    text-align: left;
    color: #666;
    font-weight: 400;
    padding: 5px 10px 10px 10px;
    margin-bottom: -10px;
    line-height: 2.5rem !important;
}
.desktop_cart {
    padding: 0 30px;
    border-left: 1px solid #eee;
    height: 110px;
    cursor: pointer;
}
.desktop_cart .header-cart{
    position: relative;
    padding-left: 0;
    border-left: none;
    color: #666;
    text-align: center;
    cursor: pointer;
    margin-left: 0;
}

.desktop_cart .header-cart span {
    left: 2px;
    position: absolute;
    top: -18px;
    left: 20px;
    padding: 0 5px;
    width: 19px;
    height: 19px;
    line-height: 19px;
    background: #ff5151;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}
.desktop_cart .header-cart i {
    font-size: 21px;
    color: #222;
}

.block-cart .dropdown-content {
    position: absolute;
      right: 15px;
    z-index: 999999;
    display: none;
    padding-top: 45px;
    right: 16px;
    -webkit-transition: opacity 0.3s linear 0s;
    transition: opacity 0.3s linear 0s;
}

.block-cart .dropdown-content .cart-content {
    padding: 20px;
    background: #fff;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    width: 380px;
}
#tiva-searchBox .tiva-seachBoxInner .title-search span {
    font-size: 2.3rem;
    font-weight: 700;
    display: block;
    margin-top: 14px;
    font-family: "Poppins",sans-serif;
}

/*Globalkart mid banner*/
.group-image-special .effect img {
    transition: all 0.2s linear;
}

.group-image-special .effect img:hover {
    filter: brightness(60%);
}

.group-image-special .effect {
    overflow: hidden;
    position: relative;
}

.group-image-special .effect:hover:after {
  right: -55%;
  top: 120%;
}

.group-image-special .effect:after {
  content: "";
  display: inline-block;
  width: 150%;
  height: 80%;
  position: absolute;
  right: 32%;
  top: -75%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewY(-50deg);
  transition: all 0.5s ease;
}
/*my-account home page */
.ty-dropdown-box__content{
    position: relative;
    cursor: pointer;
    border-top: none;
}

.acount .account-list-content ul li a:hover , .signin:hover , .signin i:hover, .ty-account-info__buttons a:hover{
    color: #222;
    font-weight: 600;
}

.acount .account-list-content ul li a i:hover{
    color: #222;
    font-weight: 600;
}

.ty-account-info li:hover{
    color: #222;
    font-weight: 600;
    background: #fff;
}

.custom_account_home .ty-dropdown-box__content .ty-dropdown-box__item:hover {
    background: none;
    color: #222;
    font-weight: 600;
}

.ty-account-info li:hover .account-list-content .buttons-container div a:hover {
    color: #222;
    font-weight: 600;
}

.custom_account_home .ty-dropdown-box__content .ty-dropdown-box__item{
    border-bottom: 1px solid #eee;
    text-align: left;
    color: #666;
    font-weight: 400;
    padding: 0;
}

.ty-dropdown-box__content .ty-account-info__buttons {
    /*line-height: 2.5rem;*/
    padding: 11px 15px 12px 13px;
}

.ty-account-info__buttons .login{
    color: #222;
    font-weight: 500;
    margin-right: 10px
}

.ty-account-info__buttons a i{
    color: #676767;
    font-weight: 500;
    margin-right: 10px;
}

.account-list-content .buttons-container {
    padding: 5px 0px 20px 0px;
}
.signin{
        margin-left: 10px;
}

.buttons-container hr{
    margin-top: 7px !important;
    margin-bottom: 8px !important;

}
.top-my-account .ty-dropdown-box__title.open i{
    color: #676767;
}

.top-my-account .ty-dropdown-box__title.open {
    z-index: 0;
    background: #fff;
    float: right;
}

.container-fluid .row-fluid .custom_account_home .ty-dropdown-box .ty-dropdown-box__title {
    /*margin-top: 30px; */
    text-align: center;
}

.top-my-account .ty-dropdown-box__title:hover {
    background: #fff;
}

.ty-dropdown-box .ty-icon-down-micro {
    color: #676767;
    display: none;
}

.ty-account-info__title .fa-user {
    font-size: 14px;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #676767;
    color: #fff;
    line-height: 21px;
    text-align: center;
}
.top-my-account .ty-dropdown-box__title.open i {
    color: #ffffff;
}

/*checkout page*/
.checkout-steps .ty-step__container-active .ty-step__title-active {
  background-color: #343434!important;
}

.ty-step__container-active .ty-step__title-left{
    margin-top: 5px;
}

/*Add to cart popup button*/
.ty-product-notification__buttons .ty-float-left .ty-btn__secondary,
.ty-product-notification__buttons .ty-float-right .ty-btn__primary{
    padding: 9px 25px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 18px;
    border-radius: 18px;
    background: #343434;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
}

.ty-product-notification__buttons .ty-float-left .ty-btn__secondary:hover,
.ty-product-notification__buttons .ty-float-right .ty-btn__primary:hover {
    background-color: #f2464e;
    color: #fff;
}

/*footer all page*/
.footer-copyright {
    background-color: #fff;
}

.block-content {
    color: #666;
}

.tygh-footer .ty-footer-grid .Allpage_custom_footer {
    background-color: #eeeeee !important;
    padding: 80px 0;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 13px;
}
.footer_left_all .block-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer_left_all .block-content ul li {
    margin-bottom: 10px;
}

.footer_left_all .block-content .img-payment {
    margin-top: 21px;
    margin-bottom: 0;
}

.footer_mid_all .title-block ,
.footer_right_all .title-block{
    font-size: 1rem;
    text-align: left;
}

.footer_mid_all .block-content .contact-us {
    margin-bottom: 20px;
    margin-right: 10px;
}

.footer_mid_all .block-content .contact-us .title-content span {
    color: #222;
    font-weight: 600;
}
.footer_mid_all .block-content .contact-us .content-contact {
    margin-left: 7px;
    padding-left: 20px;
    border-left: 1px solid #d5d5d5;
}
.footer_right_all .newsletter{
    background: none;
    text-align: left;
}
.footer_right_all .newsletter .news-content .tiva-modules {
    padding: 0px 15px 15px 15px;
}
.footer_right_all .newsletter .news-content .tiva-modules .title-block {
    font-size: 1rem;
    margin-bottom: 30px;
}    

#tiva-copyright {
    padding: 20px 0;
    margin: 0;
    color: #909090;
    font-size: 11px;
    text-transform: uppercase;
    background: #000;
}

#tiva-copyright span {
    line-height: 2;
}