@media (max-width: 767px) {
.prod-tabs #tabs ul li span { font-size: 8px; }
.prod-tabs #tabs ul { margin-bottom: 23px; }
#tabHeader_1 { float:left!important; }
#tabHeader_2 { float:left!important; }
#tabHeader_3 { float:left!important; }
}

@media (max-width: 450px){
  .tygh-header .header-grid .bottom-header .header-ctn .static-menu .ty-text-links .ty-text-links__item
  {
    width:32%;
  }
.prod-tabs #tabs ul{padding-right:0;}
.prod-tabs #tabs ul li{border:none;}
/*.prod-tabs #tabs ul li span{border:none !important;} */
}
.prod-tabs{padding:14px 0 0 0;}
.prod-tabs #tabs{padding-bottom:11px;}
.prod-tabs #tabs h2, .prod-tabs #tabs ul{
  float:none;
  display:block;
  text-align:center;
  padding-top:5px;
}


/*.prod-tabs{padding:24px 200px 0 0;}*/
.prod-tabs #tabs{
  /*border-bottom:2px solid #ededed;*/
  padding-bottom:10px;
}
.prod-tabs #tabs h2{float:left;font-family:'Open Sans', sans-serif;font-size:18px;color:#333;font-weight:normal;text-transform:uppercase;}
.prod-tabs #tabs h2 span{font-weight:bold;color:#ed763b;}
.prod-tabs #tabs ul{
  padding:0 0 0 0;
  margin-bottom: 25px;
}

ul .active.show {
  background: #343434;
}

#tabs ul  li span.show {
  background: #000;
  color: #fff;
}

.title-tab-content ul .show {
  color: #fff !important;
  background: #000;
  border: 1px solid #000 !important;
}

.title-tab-content ul li span:hover {
  color: #fff !important;
  background: #000 !important;
  border: 1px solid #000 !important;
}

.prod-tabs #tabs ul li{
  float:left;padding:0 5px;cursor:pointer;margin-top:2px;
}

.prod-tabs #tabs ul li #tabHeader_1{
  border:none;
  border-radius: .208333333in;
  margin-right: 10px;
}

.title-tab-content .wibkit {
  display: -webkit-inline-box;
  margin-right: auto !important;
  margin-left: 0px;
}
.title-tab-content .wibkit li a {
  border: 1px solid #ccc;
}

.flex-9 .title-tab-content {
    position: relative;
}

.flex-9 .title-tab-content .wibkit {
  display: -webkit-inline-box;
  margin-right: auto !important;
  margin-left: 0px;
}

.flex-9 .title-tab-content ul {
  padding-left: 0;
  margin-bottom: 40px;
  list-style: none;
  border: none;
  margin-top: 7px;
}

.flex-9 .title-tab-content ul li {
  margin-right: 10px;
  border-radius: 20px;
}

li {
    list-style: none;
}

.flex-9 .title-tab-content .wibkit li span {
  border: 1px solid #ccc;
}

.flex-9 .title-tab-content ul li span {
  border-radius: 25px;
  padding: 8px 23px;
  background: #fff;
  color: #666;
  font-weight: 500;
  transition: all 0.35s ease;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
}
.prod-tabs #tabs ul li span{
  font-size: .114583333in;
}
.prod-tabs #tabs ul li.tabActiveHeader span{
  color:#ed763b;
  border-bottom:2px solid #ed763b;
}

/***** Swati Sinha *******************/
.ty-float-right{
/*margin-left:550px;*/
float: right!important;
}

.left-info-tab{
  padding: 105px 0px 0px 0px;
}

@media (max-width: 767px){
  .onj_search_recent .homepage-custom .ty-btn__big {margin-left:50px;}
  .ty-mainbox-simple-container.clearfix.homepage-custom .ty-mainbox-simple-title{     padding-bottom: 12px; }
  .homepage-custom .ty-mainbox-simple-title { margin-bottom:0px; }
}

.homepage-custom .ty-scroller-list__item{
  min-height : 370px;
}
